In [27]:
import pandas as pd

In [28]:
sozluk = {"Kategori": ["Giyim","Giyim", "Ayakkabı","Aksesuar","Ayakkabı","Giyim","Aksesuar","Aksesuar","Ayakkabı","Giyim"],


  "Ürün" : ["Kazak","T-shirt","Sandalet","Küpe","Spor Ayakkabı","Pantolon","Kolye","Yüzük","Çizme","Ceket"],


"Fiyat" : [300,180,450,50,700,400,150,80,850,900]}

1.Yukarıdaki sözlük DataFrame’e dönüştürülür. 

2.Yukarıdaki DataFrame için 
 2.indexte bulunan kategori bulunur. (Sadece kategori bilgisi) 
 2. indexte bulunan ürün bulunur. (Sadece ürün bilgisi) 
 4.indexten 9.indexe kadar olan veriler bulunur. (Kategori,ürün,fiyat bilgisi beraber) 
 1.indexten 6.indexe kadar olan ürünler bulunur. (Sadece ürün bilgisi)

In [29]:
sozluk = pd.DataFrame(sozluk)
sozluk

   Kategori           Ürün  Fiyat
0     Giyim          Kazak    300
1     Giyim        T-shirt    180
2  Ayakkabı       Sandalet    450
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

In [31]:
sozluk[2:3][["Kategori"]]

   Kategori
2  Ayakkabı

In [32]:
sozluk[2:3][["Ürün"]]

       Ürün
2  Sandalet

In [33]:
sozluk[4:9]

   Kategori           Ürün  Fiyat
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850

In [34]:
sozluk[1:6][["Ürün"]]

            Ürün
1        T-shirt
2       Sandalet
3           Küpe
4  Spor Ayakkabı
5       Pantolon

 Yukarıdaki DataFrame için 

 Giyim kategorisinde bulunan ürünler gösterilir. 
 Ayakkabı kategorisinde bulunan ürünler gösterilir. 
 Aksesuar kategorisinde bulunan ürünler gösterilir.

In [35]:
sozluk[sozluk["Kategori"] == "Giyim"]

  Kategori      Ürün  Fiyat
0    Giyim     Kazak    300
1    Giyim   T-shirt    180
5    Giyim  Pantolon    400
9    Giyim     Ceket    900

In [19]:
sozluk[sozluk["Kategori"] == "Ayakkabı"]

   Kategori           Ürün  Fiyat
2  Ayakkabı       Sandalet    450
4  Ayakkabı  Spor Ayakkabı    700
8  Ayakkabı          Çizme    850

In [20]:
sozluk[sozluk["Kategori"] == "Aksesuar"]

   Kategori   Ürün  Fiyat
3  Aksesuar   Küpe     50
6  Aksesuar  Kolye    150
7  Aksesuar  Yüzük     80

 Yukarıdaki DataFrame için

 Giyim kategorisinde fiyatı 300'den fazla olan ürünler gösterilir. 
 Ayakkabı kategorisinde fiyatı 600'den az olan ürünler gösterilir. 
 Aksesuar kategorisinde fiyatı 100'den fazla olan aksesuar gösterilir.

In [24]:
sozluk[(sozluk["Kategori"] == "Giyim") & (sozluk["Fiyat"] > 300 )]

  Kategori      Ürün  Fiyat
5    Giyim  Pantolon    400
9    Giyim     Ceket    900

In [25]:
sozluk[(sozluk["Kategori"] == "Ayakkabı") & (sozluk["Fiyat"] < 600 )]

   Kategori      Ürün  Fiyat
2  Ayakkabı  Sandalet    450

In [26]:
sozluk[(sozluk["Kategori"] == "Aksesuar") & (sozluk["Fiyat"] > 100 )]

   Kategori   Ürün  Fiyat
6  Aksesuar  Kolye    150